# SPDX-License-Identifier: BSD-3-Clause
# Copyright 2022, Intel Corporation
#
---
## Bitnami Redis&trade; image version
## ref: https://hub.docker.com/r/bitnami/redis/tags/
image:
  registry: {{ redis_registry }}
  repository: {{ redis_repository }}
  tag: {{ redis_tag }}
  pullPolicy: IfNotPresent

## Redis&trade; Cluster settings
cluster:
  ## @param cluster.init Enable the initialization of the Redis&trade; Cluster
  init: true
  ## Number of Redis&trade; nodes to be deployed
  nodes: {{ redis_nodes_count }}
  ## @param cluster.replicas Number of replicas for every master in the cluster
  ## Parameter to be passed as --cluster-replicas to the redis-cli --cluster create
  ## 1 means that we want a replica for every master created
  replicas: 1

## @section Redis&trade; statefulset parameters
redis:
  ## @param redis.useAOFPersistence Whether to use AOF Persistence mode or not
  ## It is strongly recommended to use this type when dealing with clusters
  ## ref: https://redis.io/topics/persistence#append-only-file
  ## ref: https://redis.io/topics/cluster-tutorial#creating-and-using-a-redis-cluster
  useAOFPersistence: "no"

  ## @param redis.podLabels Additional labels for Redis&trade; pod
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  podLabels:
    instance-type: redis-cluster-instance

  ## @param redis.configmap Additional Redis&trade; configuration for the nodes
  ## ref: https://redis.io/topics/config
  configmap: |
    # RDB off
    save ""
    {% if multithreading == True %}
    # multithreading - io-threads
    io-threads-do-reads yes
    io-threads {{ threads }}
    {% endif %}

  ## Configure extra options for Redis&trade; liveness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes)
  livenessProbe:
    enabled: true
    initialDelaySeconds: 20
    periodSeconds: 5
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5

  ## Configure extra options for Redis&trade; readiness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes)
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 10

{% if computes_group is defined %}
  ## @param redis.affinity Affinity settings for Redis&trade; pod assignment
  ## ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ## Note: redis.podAffinityPreset, redis.podAntiAffinityPreset, and redis.nodeAffinityPreset will be ignored when it's set
  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 1
        preference:
          matchExpressions:
          - key: computes-group
            operator: In
            values:
            - {{ computes_group }}
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: instance-type
            operator: In
            values:
            - redis-cluster-instance
        topologyKey: kubernetes.io/hostname
{% endif %}

  ## @param redis.nodeSelector Node labels for Redis&trade; pods assignment
  ## ref: https://kubernetes.io/docs/user-guide/node-selection/
  nodeSelector:
    node-role.kubernetes.io/compute: ""

## @param usePassword Use password authentication
usePassword: false

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
persistence:
  enabled: false
  storageClass: "-"

## Sysctl InitContainer
## Used to perform sysctl operation to modify Kernel settings (needed sometimes to avoid warnings)
sysctlImage:
  ## @param sysctlImage.enabled Enable an init container to modify Kernel settings
  enabled: true
  ## @param sysctlImage.mountHostSys Mount the host `/sys` folder to `/host-sys`
  mountHostSys: true
  ## @param sysctlImage.command sysctlImage command to execute
  command:
    - /bin/sh
    - -c
    - |-
      #install_packages procps
      #apt-get update
      #apt-get install procps
      #sysctl -w net.core.somaxconn=65535
      echo never > /host-sys/kernel/mm/transparent_hugepage/enabled
  registry: docker.io
  repository: bitnami/bitnami-shell
  tag: 10-debian-10-r408
  pullPolicy: IfNotPresent
