# SPDX-License-Identifier: BSD-3-Clause
# Copyright 2021, Intel Corporation
#

#
# Normally the daxctl command will be executed
# after all dax devices have been initialized,
# but if one (or more) does not, we still want
# to execute the daxctl command. This timer will do that.
#

[Unit]
Description=Daxctl cmd execution after delay (failsafe startup)

[Timer]
OnActiveSec=120

[Install]
WantedBy=multi-user.target
