# SPDX-License-Identifier: BSD-3-Clause
# Copyright 2021-2022, Intel Corporation
#
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- benchmark_run_tests_job.yml

configMapGenerator:
- name: memtier
  namespace: {{ namespace }}
  literals:
    - extra=
    - port=6379
    - requests=allkeys
    - test_time={{ test_time }}
    - pipeline={{ pipeline }}
    - ratio_load={{ ratio }}
    - threads={{ threads }}
    - clients={{ clients }}
    - command=get \_\_key__
    - datasize={{ datasize }}
    - keypattern_load={{ key_pattern }}  # R for uniform Random, G for Gaussian distribution, S for Sequential, P for Parallel (Sequential were each client has a subset of the key-range)
    - keymaximum_load={{ requests }}

patches:
  - patch: |-
      - op: move
        from: /metadata/name
        path: /metadata/generateName
    target:
      kind: Job
